:root {
}



/*  App Profile*/

.App {
    background-color: #303030;
}

.App-Content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

@keyframes constructionbg {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 120px;
    }
}

  .App-Content-construction {
    background-color: #282c34;
    background-attachment:fixed;
    background-image: repeating-linear-gradient(30deg, #fbff00, #fbff00 30px, #282c34 30px, #282c34 60px);
    animation: constructionbg;
    animation-duration: 1.5s;
    animation-direction:normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }


  /* Header Profiles */

.header-icon {
    display:inline;
    float:left;
    padding:15px;
    margin:-10px;
    margin-left:15px;
    margin-right:15px;
    border-radius: 10%;
    list-style-type: none;
}

.header-navbar {
    background-color: #403f44;
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-flow: column;
    gap:10px;
    padding:0;
    padding-top:20px;
    padding-bottom:20px;
    margin:0;
    width: 100%;
}

.header-button {
    display:inline-block;
    align-self: center;
    text-align: center;
    user-select: none;
    color:#f3faff;
    padding:10px;
    transition: background-color 0.25s, color 0.25s;
    margin-left:15px;
    margin-right:15px;
    border-radius: 10%;
}

.header-button-center {
    grid-auto-flow: column;
    display:grid;
    justify-items: center;
}

.header-button-selected {
    background-color: #56565e;
}

.header-button:hover {
    transition: background-color 0.25s, color 0.25s;
    
    background-color: #56565e;
}



/* Footer Styles */

.footer {
    background-color: #18191b;
    width: 100%;
    height: 350px;
}